
.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-container {
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  background-color: #2F2F2F;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-container input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.login-container button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #E94F37;
  color: #fff;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #0a3871;
}

.login-container p {
  margin-top: 10px;
  text-align: center;
  color: #fff;
}

.login-container a {
  color: #0c79ff;
  text-decoration: none;
}

.login-container a:hover {
  text-decoration: underline;
}