body{
  display: flex;
  gap: 24%;
}
.contenedor01{
  display: block;
  padding-top: 5%;
  padding-left: 5%;
  
}
.titulo p{
  font-family: inter;
  font-size: 24px;
  color: #fff;
  margin-bottom: 1rem;
}
.titulo h1{
  font-family: inter;
  font-size: 40px;
  color: #fff;
  padding-bottom: 5%;
}
.titulo img{
  padding-bottom: 2rem;
}
form{
  display: flex;
  flex-direction: column;
  
}
form label{
  font-family: inter;
  font-size: 24px;
  color: #fff;
  margin-bottom: 1rem;
}
form input{
  border-color: #fff;
  border-radius: 0.4rem;
  padding: 1rem;
  width:35rem;
  font-size: 24px;
  color: #fff;
  background-color: #2f2f2f;
  margin-bottom: 1rem;
}
form input[type="submit"]{
  align-items: center;
  background-color: #e94f37;
  margin: 2rem 0rem;
  color: #fff;
}
form p{
  font-family: inter;
  font-size: 24px;
  color: #fff;
}
form a{
  color: red;
}

.contenedor02{
  display: flex;
  padding-top: 5%;
  align-items: center;
}
.contenedor02 img{
  width: 75%;
  border-radius: 1rem;
}
